.review-crud-container {
  padding: 20px 10px;
}

.review-crud-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-crud-input-container {
  margin-bottom: 17px;
}

.review-crud-input-container input {
  padding-left: 10px;
  width: 280px;
  height: 50px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  background-color: #fff;
}

.review-crud-input-container input::placeholder {
  font-size: 16px;
  letter-spacing: -0.015em;
  line-height: 22px;
  color: #9e9e9e;
}

.review-crud-button-container {
  display: flex;
  align-items: center;
}

.review-crud-button-container button {
  width: 280px;
  height: 50px;
  padding: 10px 22px;
  border-radius: 4px;
}

.button-title {
  font-size: 16px;
}

@media (min-width: 576px) {
  .review-crud-container {
    padding: 20px;
  }

  .review-crud-input-container input {
    width: 496px;
  }

  .review-crud-button-container button {
    width: 496px;
  }
}

@media (min-width: 768px) {
  .review-crud-container {
    padding: 40px;
  }

  .review-crud-input-container input {
    padding-left: 20px;
    width: 608px;
  }

  .review-crud-button-container button {
    width: 608px;
  }
}

@media (min-width: 992px) {
  .review-crud-input-container {
    margin-bottom: 25px;
  }

  .review-crud-input-container input {
    padding-left: 20px;
    width: 832px;
  }

  .review-crud-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .review-crud-button-container button {
    width: 400px;
  }
}

@media (min-width: 1200px) {
  .review-crud-input-container input {
    width: 1040px;
  }
}
