.catalog-container {
  padding: 20px 10px;
}

.catalog-search-container {
  margin-bottom: 20px;
}

@media (min-width: 576px) {
  .catalog-container {
    padding: 30px 20px;
  }

  .catalog-search-container {
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .catalog-container {
    padding: 30px 150px;
  }

  .catalog-search-container {
    margin-bottom: 30px;
  }
}
