.movie-list-container {
  display: flex;
  flex-direction: column;
  padding: 12px 18px;
  width: 100%;
  height: 500px;
  background-color: #525252;
}

.movie-list-container h1 {
  margin-bottom: 50px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.015em;
  color: #fff;
}

.movie-list-container p {
  font-size: 18px;
  letter-spacing: -0.015em;
  color: #fff;
}

.movie-list-container a {
  text-decoration: none;
}

@media (min-width: 1200px) {
  .movie-list-container {
    padding: 40px 40px;
    width: auto;
    height: 720px;
  }

  .movie-list-container h1 {
    font-size: 48px;
  }

  .movie-list-container p {
    margin-bottom: 30px;
    font-size: 24px;
  }
}
