.app-container {
  padding: 10px 10px 30px 10px;
  background-color: #e5e5e5;
}

@media screen and (min-width: 576px) {
  .app-container {
    padding: 40px 40px 60px 40px;
  }
}

@media screen and (min-width: 992px) {
  .app-container {
    padding: 40px 15px 50px 15px;
  }
}

@media screen and (min-width: 1200px) {
  .app-container {
    padding: 40px 120px 50px 120px;
  }
}
